<div (click)="sendToParent()" class="wrapper">
    <section class="room">
        <div class="cover">
            <h1>{{ welcome }}</h1> 
            <h2>Vilket datum vill ni boka?</h2>
            
             <div class="btn-input">
                <input id="date" class="numberOfTickets" type="date" [(ngModel)]="movieDate">                
            </div>
            <h2>Vilken tid?</h2>
            <div class="btn-input">
                <input type="time"  min="17" max="24" [(ngModel)]="time">
            </div>

            <h2>Hur många blir ni?</h2>       
            <div class="btn-input">
                <input type="number" class="numberOfTickets" min="1" max="10" value="1" [(ngModel)]="tickets" />                               
            </div>
                
           
            
            
            <button (click)="getDateAndTime()" class="tickets">
                    skicka
                </button>
            <h2
                *ngIf="dateTimeDecided && numberOfGuestsDecided"
                class="correct">Ni är {{ tickets }} den {{ movieDate }} klockan {{ time }}</h2>
            <button 
                *ngIf="dateTimeDecided && numberOfGuestsDecided"
                (click)="goToChooseTable()" class="tickets">
                Stämmer
            </button>
            
        </div>
    </section>
</div>
