.wrapper-movie-selection{
    display: flex;
    flex-direction: column;    
}

.top{
    display: flex;
    min-height: 20rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #fff ;
    
    
}

.mobilvideo{
    display: none;
}

.mobile-trailer{
    display: none;
}

/*----------Glowing-----------*/

.left{
    
    width: 100%;
    background-color: #000;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    

    transition: width 1s ease-in;
    
    
}
.left .text{
    font-family: 'Pacifico', cursive;
    color:#fff;
    font-size: 5rem;
    transform: rotate(0deg);
    margin: 0.1rem 0.3rem;
    padding: 0.5rem;
    color: #FFF;
    
    transform: rotate(-10deg);
    

    text-shadow: 0 0 1px #FF0, 0 0 1px #FF0, 0 0 15px #F00, 0 0 50px #0099b9, 0 0 10px #00FFaa, 0 0 10px #ff0000;

    transition: font-size 0.5s;
}

.left .text:nth-child(1){

    
    animation: glowing ease-in 16s 1;
}

.left .text:nth-child(2){

    animation: glowing ease-in 4s 4;
}

.left .text:nth-child(3){

    white-space: nowrap;
    animation: glowing ease 8s 2;
    
}

.left .text:nth-child(4){

    animation: glowing ease 8s 2 4s forwards;
    
}

/*---------- glowing stop ,video start    -----------------*/

/*--Making space---*/
.left.video{

    
    width:50%;
    
    background-color: #000;
    
}

.right.video{

    width: 50%;

}

.left.video .text{
    
    font-size: 0rem;
    margin: 0rem 0rem;
    padding: 0rem;

}

.right{

    background-color: #000;

}



.iframe{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    
}

.iframe iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

}

/*---Trailer-text---*/

.big-trailer h2{

    color:#fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.big-trailer{
    color:#fff;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
}



/*------    ------------*/

.down{
      
    width: 100%;
    overflow: hidden;
    white-space: nowrap;   
    background-color: #000;
    border-top: 2px solid #fff ;
    border-bottom: 2px solid #fff ;
    margin-bottom: 1rem;
   
}

.movie-bar{
    padding: 0.5rem;
    padding-top: 1rem;
    height: 100%;
    background-color: black;
    display: inline-block;
    margin-bottom: 3rem;
    
    transition: transform ease 1s;
    
}

.arrow
{
    position: relative;
}

.arrow-right
{
    position: absolute;
    z-index: 10;
    right: 2rem;
    top: 100%;
    font-size: 5rem;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.arrow-left
{
    position: absolute;
    z-index: 10;
    left: 2rem;
    top:100%;
    font-size: 5rem;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img{
    position: relative;  
    z-index: 1;  
    height: 360px;
    width: 240px;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    transition: transform ease-out 500ms;
}

img:hover{
    
    transform: scale(1.1) translateY(10%);
    overflow: visible;
    
}


/*--------Tickets input------------*/


.display-date{
    display: flex;
    justify-content: space-evenly;
    color:#fff;
}

.time-instructions{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    
    
}

.time-instructions span{
    order:-1;
    margin: 1rem;
    font-size: 1.5rem;
}

.time-instructions.small span{
    
    margin: 0.3rem;
    font-size: 1.5rem;
}

.display-date span{
    cursor: pointer;
}


.display-date.big{
    font-size: 2rem;
    
}

.display-date.small{
    font-size: 1.5rem;

}

/*------ Number of tickets------------*/
.howmany{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.howmany.big span{
    font-size: 2rem;
    margin-top:0.5rem ;
    margin-bottom:0.5rem ;
}

.howmany.small span{
    font-size: 1.5rem;
    margin-top:0.3rem ;
    margin-bottom:0.3rem ;
}

.howmany.small{
    font-size: 1.5rem;
}

#date{
    position: relative;
    z-index: 2;   
    font-size: 2rem;
    border-radius: 2rem;

}

.btn-input{
    
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.btn-input input{

    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    text-align: center;

}

.numberOfTickets.small{

    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;

}

.btn-input button{

    background-color: #fff;
    
    height: 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;

    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    
    transition: transform ease-in 500ms;

}


@media screen and (max-width: 1000px){

    .left{
       
       
        flex-direction: column;
        padding: 1rem;
        
    }

    .left .text{
        padding: 0.3rem;
        font-size: 2rem;
    }

    /*----Video---------*/

    .top{

        min-height: 10rem;

    }

    .left.video{

        padding: 0rem;

    }

    .left.video .text{

        padding: 0.0rem;
        font-size: 0rem;

    }
}



@media screen and (max-width: 750px){
    
    .arrow
    {
        display: none;
    }

    .wrapper-movie-selection{
        grid-template-columns: 1fr;
        
    }

    .right{
        display: none;
    }

    .big-trailer{
        display: none;
    }


    

    .left{
       
        height: fit-content;
        padding: 1rem;
        margin: 0rem 0 1rem 0;
        
    }

    .left .text{
        padding: 0.2rem;
        font-size: 3rem;
        
    }

    .r-top, .r-bottom{
        
        height: fit-content;
    }

    

    img{
    height: 240px;
    width: 160px;
    transition: transform ease-out 500ms;
    
}

    img:active{
    transform: scale(1.2);
}

    .top{
    min-height: 2rem;
    background-color: black;
    margin-bottom: 3rem;
    border-bottom: 2px solid #fff ;
    }

    .top.video{

        margin-bottom: 0rem;
        border-bottom: 0px solid #fff ;

    }


    .down{
        border-top: #fff solid 2px;
        overflow: auto;
        background-color: transparent;
        border-bottom: none;
        
    }

    .down.video{
        border-top: #fff solid 0px;
    }

    .movie-bar{

        border-bottom: 2px solid #fff ;
    
    }

    .mobilvideo{
        display: inline-block;
        width: 100%;

        color:#fff;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;

        
        

    }

    .mobile-trailer{
        display: inline-block;
        background-color: black;
        padding:0 0.5rem 2rem 0.5rem;
    }

    .mobil-desc h2{

        text-align: center;
        font-size: 2rem;
        color: #fff;

    }

    .mobil-desc{

        

        color:#fff;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 1rem;

    }

    
}




@keyframes glowing {

    0%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #ff0000;}
    25%{text-shadow: 0 0 1px #FF0, 0 0 1px #FF0, 0 0 15px #F00, 0 0 50px #0099b9, 0 0 10px #00FFaa, 0 0 10px #ff0000;}
    50%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 5px #FFF, 0 0 10px #49ff18, 0 0 10px #00FFaa, 0 0 10px #ff0000;}
    100%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #00FFaa, 0 0 40px #ff0000;}
}