<div class="wrapper-movie-selection"
(click)="sendVariables()">
    <!--Neon Light- Start-->
    <div [className]="top">
        <div [className]="left">
            <span [className]="text">
                Bio
            </span>
            <span [className]="text">
                Middag 
            </span>
            <span [className]="text">
              en hel kväll
            </span>
            <span [className]="text">
                ute!
            </span>
            <!--Description fullscreen-iframe fullscreen-->
            <span [className]="bigTrailer"><h2>{{  movieName  }}</h2>  {{ movieDesc }} </span>
        </div>
        <!--Neon Light- Stop-->
        <div  [className]="right">

            <div *ngIf="state===1" class="iframe">
                <iframe [src]="urlSafe" frameborder="0" allow="accelerometer;
                    autoplay;
                    encrypted-media; 
                    gyroscope; 
                    picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <input  *ngIf="state==1 && !(dateSetBoolean)" id="date" class="numberOfTickets" type="date" [(ngModel)]="movieDate">
            <div *ngIf="state==1 && !(dateSetBoolean)" class="display-date big">
                <span (click)="setDateAndTime(time)" *ngFor="let time of showTmes; let i = index"> {{ time }}:00</span>
            </div>
             <!--Input number of tickets-fullscreen-->
             <div *ngIf="(state==1) && !(numberOfTicketChoosen) && (dateSetBoolean)" class="howmany big">
                <span >{{ orderText[0] + movieName + " "+  orderText[1] + " " + ticketprice}}&nbsp;kr </span>
                <span *ngIf="(dateSetBoolean)" >  {{ orderText[2]}} </span>
                <div *ngIf=" (dateSetBoolean)" class="btn-input">
                    <input type="number" class="numberOfTickets" min="1" max="20" value="1" [(ngModel)]="tickets" />
                    <button (click)="getNumberOfTickets()" class="tickets">
                        skicka
                    </button>            
                </div>
            </div>                   
        </div>
    </div>
    
    <div [className]="down" *ngIf="!(numberOfTicketChoosen)">
        <div class="movie-bar" *ngFor="let img of movieInfo.movies; let i = index">
            <span (click)="showTrailer(i)">
                <img [src]="img.img" [alt]="img.name">
            </span>
        </div>
    </div>
    <!--Mobile iframe-->
    <div  *ngIf="state===1
          && !(numberOfTicketChoosen)" 
                [className]="mobilvideo">

        <div *ngIf="state===1" class="iframe">
            <iframe [src]="urlSafe" frameborder="0" allow="accelerometer;
                autoplay;
                encrypted-media; 
                gyroscope; 
                picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <!--Input for date and time for tickets-->
        <input  *ngIf="state==1 && !(dateSetBoolean)" class="numberOfTickets small" type="date" [(ngModel)]="movieDate">
            <div *ngIf="state==1 && !(dateSetBoolean)" class="display-date small">
                <span (click)="setDateAndTime(time)" *ngFor="let time of showTmes; let i = index"> {{ time }}:00</span>
            </div> 
            <!--Input number of tickets-mobile-->
            <div *ngIf="(state==1) && !(numberOfTicketChoosen) && (dateSetBoolean)" class="howmany small">
                <span >{{ orderText[0] + movieName + " "+  orderText[1] + " " + ticketprice}}&nbsp;kr </span>
                <span *ngIf="(dateSetBoolean)" >  {{ orderText[2]}} </span>
                <div *ngIf=" (dateSetBoolean)" class="btn-input ">
                    <input type="number" class="numberOfTickets" min="1" max="20" value="1" [(ngModel)]="tickets" />
                    <button (click)="getNumberOfTickets()" class="tickets">
                        skicka
                    </button>            
                </div>
            </div>

        <!--Description mobil-->
        <div *ngIf="state===1" class="mobile-trailer">
            <span *ngIf="state==1" [className]="mobilDesc" ><h2>{{  movieName  }}</h2>  {{ movieDesc }} </span>
        </div>
               
    </div>   
</div>