<div class="wrapper-movie-selection">
    <!--Neon Light- Start-->
    <div [className]="top">
        <div [className]="left">
            <span [className]="text">
                Bio
            </span>
            <span [className]="text">
                Middag 
            </span>
            <span [className]="text">
              en  hel kväll
            </span>
            <span [className]="text">
                ute!
            </span>
            a
        </div>
        <!--Neon Light- Stop-->
        <div  [className]="right">

            <div *ngIf="state===1" class="iframe">
                <iframe [src]="urlSafe" frameborder="0" allow="accelerometer;
                    autoplay;
                    encrypted-media; 
                    gyroscope; 
                    picture-in-picture" allowfullscreen>
                </iframe>
            </div>
                   
        </div>
    </div>
    
    <div class="down" *ngIf="!(numberOfTicketChoosen)">
        <div class="movie-bar" *ngFor="let img of movieInfo.movies; let i = index">
            <span (click)="showTrailer(i)">
                <img [src]="img.img" [alt]="img.name">
            </span>
        </div>
    </div>
    
</div>