.wrapper-movie-selection{
    display: flex;
    flex-direction: column;

    
}

.top{
    display: flex;
    min-height: 20rem;
    
    
}

.mobilvideo{
    display: none;
}

.mobile-trailer{
    display: none;
}

/*----------Glowing-----------*/

.left{
    
    width: 100%;
    background-color: #000;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    

    transition: width 1s ease-in;
    
    
}
.left .text{
    font-family: 'Pacifico', cursive;
    color:#fff;
    font-size: 5rem;
    transform: rotate(0deg);
    margin: 0.1rem 0.3rem;
    padding: 0.5rem;
    color: #FFF;
    
    transform: rotate(-10deg);
    

    text-shadow: 0 0 1px #FF0, 0 0 1px #FF0, 0 0 15px #F00, 0 0 50px #0099b9, 0 0 10px #00FFaa, 0 0 10px #ff0000;

    transition: font-size 0.5s;
}

.left .text:nth-child(1){

    
    animation: glowing ease-in 16s 1;
}

.left .text:nth-child(2){

    animation: glowing ease-in 4s 4;
}

.left .text:nth-child(3){

    white-space: nowrap;
    animation: glowing ease 8s 2;
    
}

.left .text:nth-child(4){

    animation: glowing ease 8s 2 4s forwards;
    
}

/*---------- glowing stop ,video start    -----------------*/

/*--Making space---*/
.left.video{

    
    width:50%;
    
    background-color: #000;
    
}

.right.video{

    width: 50%;

}

.left.video .text{
    
    font-size: 0rem;
    margin: 0rem 0rem;
    padding: 0rem;

}

.right{

    background-color: #000;

}



.iframe{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    
}

.iframe iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

}

/*---Trailer-text---*/

.big-trailer h2{

    color:#fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.big-trailer{
    color:#fff;
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem;
}



/*------    ------------*/

.down{
      
    width: 100%;
    overflow: auto;
    white-space: nowrap;
        
}

.movie-bar{
    padding: 0.5rem;
    padding-top: 1rem;
    height: 100%;
    background-color: black;
    display: inline-block;
    margin-bottom: 3rem;
    
    
    
}

img{
    position: relative;  
    z-index: 1;  
    height: 360px;
    width: 240px;
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;
    transition: transform ease-out 500ms;
}

img:hover{
    
    transform: scale(1.1) translateY(10%);
    overflow: visible;
    
}

@media screen and (max-width: 1000px){

    .left{
       
       
        flex-direction: column;
        padding: 1rem;
        
    }

    .left .text{
        padding: 0.3rem;
        font-size: 3rem;
    }

    /*----Video---------*/

    .top{

        min-height: 10rem;

    }

    .left.video{

        padding: 0rem;

    }

    .left.video .text{

        padding: 0.0rem;
        font-size: 0rem;

    }
}



@media screen and (max-width: 750px){
    
    .wrapper-movie-selection{
        grid-template-columns: 1fr;
        
    }

    .right{
        display: none;
    }

    .big-trailer{
        display: none;
    }

    .left{
       
        height: fit-content;
        padding: 1rem;
        
    }

    .left .text{
        padding: 0.2rem;
        font-size: 3rem;
        
    }

    .r-top, .r-bottom{
        
        height: fit-content;
    }

    img{
    height: 180px;
    width: 120px;
    transition: transform ease-out 500ms;
}

    img:active{
    transform: scale(1.2);
}

    .top{
    min-height: 2rem;
    background-color: black;
    }

    .mobilvideo{
        display: inline-block;
        width: 100%;

        color:#fff;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;

    }

    .mobile-trailer{
        display: inline-block;
        background-color: black;
        padding-bottom: 2rem;
    }

    .mobil-desc h2{

        text-align: center;
        font-size: 2rem;
        color: #fff;

    }

    .mobil-desc{

        

        color:#fff;
        font-size: 1.2rem;
        line-height: 2rem;
        padding: 1rem;

    }

    
}




@keyframes glowing {

    0%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #ff0000;}
    25%{text-shadow: 0 0 1px #FF0, 0 0 1px #FF0, 0 0 15px #F00, 0 0 50px #0099b9, 0 0 10px #00FFaa, 0 0 10px #ff0000;}
    50%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 5px #FFF, 0 0 10px #49ff18, 0 0 10px #00FFaa, 0 0 10px #ff0000;}
    100%{text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #00FFaa, 0 0 40px #ff0000;}
}