<div class="wrapper-main-front">
    <div class="container">
        <app-topnav></app-topnav>
        <app-movie-selection 
            (customersEvent)="customers=$event"
            (numberOfTicketChoosenEvent)="numberOfTicketChoosen=$event"
            (dateSetBooleanEvent)="dateSetBoolean=$event"
            *ngIf="!numberOfTicketChoosen">
        </app-movie-selection>
        <app-cinema 
            [numberOfTicketChoosen]="numberOfTicketChoosen"
            [dateSetBoolean]="dateSetBoolean"
            [customers]="customers"
            (seatChoosenBoleanEvent)="seatChoosenBolean=$event"
            (customersEvent)="customers=$event"
            *ngIf="numberOfTicketChoosen && !seatChoosenBolean">
        </app-cinema>
        <app-restaurant 
            *ngIf="seatChoosenBolean">
        </app-restaurant>
        <app-checkout *ngIf="false"></app-checkout>
    </div>
    <app-footer></app-footer>
</div>