<div [className]="wrapper">
    <div (click)="openOrder()" class="btn">

        <h2 class="folder">
            {{order | uppercase}}
        </h2>

    </div>
    <div class="order">
        <section class="table">
            <h2>Din beställning</h2>

            <h3>Beställningen är till:</h3>
            <h3>{{ customers[0].dateTime + ", " + customers[0].time }}:00</h3>

            <table>
                <thead *ngIf="customers.length>0">
                    <tr>
                        <th>Namn</th>
                        <th>typ</th>
                        <th>pris</th>
                        <th>antal</th>
                    </tr>
                </thead>
                <tbody *ngIf="customers[0].orderList[0]>0">
                    <tr>
                        <th > {{ customers[0].movie }} </th>
                        <td > {{ customers[0].orderList[0].type }} </td>
                        <td >{{ customers[0].orderList[0].price }} kr</td>
                        <td>{{  customers.length }}</td>
                    </tr>
                    <ng-container *ngFor="let customer of customers">
                        <tr *ngIf="customer.seat && expandBol">
                            <th> Beställning stol: {{customer.seat}} </th>
                        </tr>
                        <ng-container *ngFor="let order of customer.orderList">
                            <tr *ngIf="customer.seat && expandBol">
                                <th> {{ order.name }} </th>
                                <td> {{ order.type }} </td>
                                <td> {{ order.price }} kr</td>
                                <td> {{ order.amount }} </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="row" colspan="2">Total summa</th>
                        <td colspan="2">{{ totalSum }}</td>
                    </tr>
                </tfoot>
            </table>
            <button (click)="expand()" class="expand">
                expandera
            </button> 
        </section>
    </div>
</div>