<div [className]="wrapper">
    <div (click)="openOrder()" class="btn">

        <h2 class="folder">
            {{order | uppercase}}
        </h2>

    </div>
    <div class="order">
        <section class="table">
            <h2>Din beställning</h2>
            
            <h3>Beställningen är till:</h3>
            <h3>{{ customers[0].dateTime + ", " + customers[0].time }}:00</h3>
            
            <table>
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>typ</th>
                        <th>pris</th>
                        <th>antal</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                       
                      <th> {{ customers[0].movie }} </th>
                      <td> {{ customers[0].orderList[0].type }} </td>
                      <td>{{ customers[0].orderList[0].price }} kr</td>
                      <td >{{  customers.length }}</td>
                    </tr>
                
                    <tr>
                      <th scope="row">The Clash</th>
                      <td>1976</td>
                      <td>6</td>
                      <td>London Calling</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                      <th scope="row" colspan="2">Total summa</th>
                      <td colspan="2">{{ totalSum }}</td>
                    </tr>
                </tfoot>
            </table>

        </section>
    </div>
</div>