.wrapper{
    min-height: 100vh;
    background-color: #971;
}

.container{
    
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
    background-color: #777;

}

.table{
    display: inline-block;
    top:0;
    left:0;
    height: 10rem;
    width: 5rem;
    border: 1px solid black;
    transform-origin: center;
}

.box{
    padding: 1rem;
    width: fit-content;
}

.draggable{
    background-color: #999;
}