<div
    cdkDropListGroup
    class="wrapper">
    <p>partyroom works!</p>
    <button (click)="addTable()">Nytt bord</button>
    
    <div class="new-customer">
        <input type="number" onfocus="this.value=''" [(ngModel)]="theTable">
        <button (click)="removeTable(theTable)">tabort bord</button>
        {{ theTable }}
    </div>
    <div class="new-customer">
        <input type="text" name="name" onfocus="this.value=''" (ngModel)="name">
        <button (click)="addGuest()" >Ny gäst</button>
    </div>
    <div
                    cdkDropList
                    [cdkDropListData]="guests"
                    class="guests"
                    (cdkDropListDropped)="drop($event)">
                    <div class="box-guests" *ngFor="let seat of guests" cdkDrag>
                        <div class="seat">
                            <div 
                                class="backrest">
                                <p>
                                    {{seat}}
                                </p>
                                                           
                            </div>
                        </div>
                    </div>
                </div>
    
    <div 
        class="container">
        <div 
             
            cdkDragBoundary=".container"
            class="box" >           
           
        <!--Droplist with array of arrays-->

        <div
            *ngFor="let row of tables" 
            cdkDrag 
            cdkDragBoundary=".container"
            class="box" >
           
            <div [className]="table" >
               

                <div
                    cdkDropList
                    [cdkDropListData]="row.left"
                    class="seats"
                    (cdkDropListDropped)="drop($event)">
                    <div class="box-seat" *ngFor="let seat of row.left" cdkDrag>
                        <div class="seat">
                            <div 
                                class="backrest">
                                <p>
                                    {{seat}}
                                </p>
                                                           
                            </div>
                        </div>
                    </div>
                </div>


                <div [className]="handle" 
                    cdkDragHandle>{{ row.table }}
                    <svg  width="24px" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                    <p (click)="rotate()">Rotate</p>   
                </div>
                
                <div
                    cdkDropList
                    [cdkDropListData]="row.rigth"
                    class="seats"
                    (cdkDropListDropped)="drop($event)">
                    <div class="box-seat" *ngFor="let item of row.rigth" cdkDrag>
                        <div class="seat">
                            <div 
                                class="backrest">
                                {{item}}                       
                            </div>
                        </div>
                        
                    </div>
                </div>


            </div>


        </div>


       
    
</div>

<!---
    [ngStyle] ="{ 'transform-origin': 'center center',
                              'transform' : 'rotate(' + deg + 'deg)',
                              'bacground-color' : 'black'}"


    <div class="table" 
                    appDraggable 
                    (dragMove)="onDragMove($event)">
                    x:{{x}} + y:{{ y }}
                </div>
                <div class="table" 
                    (dragMove)="onDragMove($event)" 
                    appMovable>
                    x:{{x}} + y:{{ y }}
                </div>



cdkDrag 
[style.transform]=" rotate( 10deg)"
(mouseenter)="onEvent($event)"
(mouseleave)="onEvent($event)"
(mousemove)="coordinates($event)"
on-click="onEvent($event)"
on-dblclick="onEvent($event)"
on-contextmenu="onEvent($event)"
[ngStyle]="{'transform': 'rotate('+ deg + 'deg)'}"
-->