<div class="wrapper">
    <p>partyroom works!</p>
    <div class="container">
        <div class="box" appMovable>
            <div class="table" 
                appDraggable 
                (dragMove)="onDragMove($event)">
                x:{{x}} + y:{{ y }}
            </div>
            <div class="table" 
                (dragMove)="onDragMove($event)" 
                appMovable>
                x:{{x}} + y:{{ y }}
            </div>
        </div>
    </div>
    <div>

    </div>
</div>

<!---

cdkDrag 
[style.transform]=" rotate( 10deg)"
(mouseenter)="onEvent($event)"
(mouseleave)="onEvent($event)"
(mousemove)="coordinates($event)"
on-click="onEvent($event)"
on-dblclick="onEvent($event)"
on-contextmenu="onEvent($event)"
[ngStyle]="{'transform': 'rotate('+ deg + 'deg)'}"
-->