.wrapper{
    min-height: calc(100vh + 4rem);
    height: fit-content;
    background-color: #971;
}

.dining-hall{
    
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;

}

/*Table area*/
.box{
    
    padding: 2rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Roundtable chair placment */
.box.round{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    ".     top3   ."
    "left1 table5 right2"
    " .     down4    .";
}

.seats.round:nth-child(1){
    grid-area: left1 ;
}

.seats.round:nth-child(2){
    grid-area: right2 ;
}

.seats.round:nth-child(3){
    grid-area: top3 ;
    
}



.seats.round:nth-child(4){
    grid-area: down4;
}

.table.round{
    grid-area: table5;
    background-color: #fff;
}


/*--Table---*/

.table{
   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 5rem;
    margin: 0.3rem;
    

}


.table.round{
    
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    
   
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


/*--Turning the table---*/

.table.rotate45{
    transform: rotate(45deg);
    transition: transform 1s;
}

.table.rotate90{
    transform: rotate(90deg);
    transition: transform 1s;
}

.table.rotate135{
    transform: rotate(-45deg);
    transition: transform 1s;
}

.table.rotate180{
    transform: rotate(0deg);
    transition: transform 1s;
    
    
}

.table.rotate225{
    transform: rotate(45deg);
    transition: transform 1s;
    
}

.table.rotate270{
    transform: rotate(-90deg);
    transition: transform 1s;
    
}

.table.rotate315{
    transform: rotate(-45deg);
    transition: transform 1s;
   
}

/*---The Handle for moving ---*/

.handle{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    transition: transform 1s, box-shadow 200ms cubic-bezier(0, 0, 0.2, 1) ;
    
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  

.handle:active {

    box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.2),
                0 16px 20px 2px rgba(0, 0, 0, 0.14),
                0 6px 28px 4px rgba(0, 0, 0, 0.12);
}

.box-seat{
    
    min-width: 2rem;
    min-height: 2rem;

}

.seat{

    height: 2rem;
    width: 2rem;
    
    
}

.backrest{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border: solid black 1px;   

    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.seats.round:nth-child(3) .backrest{

    transform: rotate(-90deg);

}

.seats.round:nth-child(4) .backrest{

    transform: rotate(90deg);
}



/*--unseated seats---*/

.guests{
    display: flex;

}


/*-- seats at table --*/

.seats{
    cursor: move;  
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    
    
    
}


.seats:nth-child(1) .box-seat .seat{
    transform: rotate(180deg);
}

.seats:nth-child(1) .box-seat .seat .backrest p{
    transform: rotate(180deg);
    vertical-align: top;
}

.seats.round:nth-child(3), .seats.round:nth-child(4){
    
    flex-direction: row;
    justify-self: center;
    
}




.example-container {
    width: 2rem;
    margin: 0 25px 25px 0;
    display: inline-block;
    
    
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 2rem;
    
    
    
  }
  
  .example-box {
    
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

