
    <div (click)='openMenu()' [className]="box">
        <div  [className]="open">
        </div>
        <div [className]="open">
        </div>
        <div [className]="open">
        </div>
    </div>
    <section [className]="topMenu">
        <ul>
            <li>
                <a href="/order">
                    <h2 [className]="menuLink">Boka helkväll</h2>
                </a>
            </li>
            <li>
                <a href="/restaurang">
                    <h2 [className]="menuLink">Resturang meny</h2>
                </a>
            </li>
            <li>
                <a href="/rest">
                    <h2 [className]="menuLink">Möblera festsalen (Under konstruktion)</h2>
                </a>
            </li>
        </ul>


    </section>
    <section [className]="bottomMenu">
        <ul>
            <li>
                <a href="#">
                    <h2 [className]="menuLink">Logga in (Under konstruktion)</h2>
                </a>
            </li>
        </ul>
        

    </section>

    <!--[ngClass]="open ? 'line open' : 'line close'"
        [ngClass]="{'line': open=='none', 'line open':open=='true', 'line close': open=='false' }"
    -->
