
.box-nav{
    position: absolute;
    top:0;
    right: 2rem;
    background-color: rgba(0,0,0,0.0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    z-index: 10;
    

    
}

.box-nav.open{
    right: 0rem;
    left: 0rem;
    bottom: -10rem;

    background-color:rgba(0,0,0,0.7);
       
    animation: open-box ease-in 1s;
    

    

}

.box-nav.close{

    right: 2rem;
    left: auto;
    bottom: auto;
    
    background-color: rgba(0,0,0,0.0);
     
    animation: close-box ease-in 1s;
    
}

.line{
    
    width: 4rem;
    height: 0.5rem;
    margin: 0.3rem 0 0 0;
    
    border-radius: 10px;
    background-color: #fff;
    
}

.line.open{

    background-color: transparent;
    width: fit-content;
    height: fit-content;

    
    margin: 10rem 5rem 0 0;
    min-width: 4rem;

    animation: open-line 1s ease-in-out;
}

.line.close{

    width: 4rem;
    height: 0.5rem;
    margin: 0.3rem 0 0 0;

    animation: close-line 1s ease-in-out;
}



.link{

    
    color:#fff;
    font-size: 0;
    font-weight: 0;
    white-space: nowrap;

    padding: 0 auto;
    
    
    

}

.link.open{

    background-color: transparent;
    margin: 10rem 0rem 0 0;
    min-width: 4rem;

    opacity: 1;  
    font-size: 2rem;
    
    animation: open-link 3s;
}


.link.close{

    opacity: 0;  
    font-size: 0;

    animation: close-link 1s;
    
}



@keyframes open-box{
    0%{
        right: 0rem;
        left: 0rem;
        bottom: 0;
        background-color: rgba(0,0,0,0.0);
        
       
    }

    50%{
        right: 0rem;
        left: 0rem;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        
        
    }
     

    100%{ 
        right: 0rem;
        left: 0rem;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
        
        
        
    }
}

@keyframes close-box{
    from{

        right: 0rem;
        left: 0rem;
        bottom: 0;
        padding-right: 2rem;
        background-color: rgba(0,0,0,0.7);


    }
    to{
        right: 2rem;
        left: auto;
        bottom: auto;
        padding-right: 0rem;
        background-color: rgba(0,0,0,0.0);


    }
}


@keyframes open-line {
    
    0%{ 
        background-color: #fff;
        margin: 2rem 2rem 0 0;
        min-width: 4rem;
         
      }
      
    

    100%{ 

        background-color: transparent;
        margin: 10rem 5rem 0 0;
        min-width: 4rem;
        
               
        }
}

@keyframes close-line {   

    0%{ 

        background-color: transparent;
        margin: 10rem 5rem 0 0;
        min-width: 4rem;
        width: fit-content;
        height: fit-content;
               
        }

    100%{

        background-color: #fff;
        margin: 0.3rem 0rem 0 0;
        min-width: 4rem;
         
      }

}


@keyframes open-link{
    0%{
            opacity: 0;  
            font-size: 0;
    }
    
    100%{

            opacity: 1;  
            font-size: 2rem;            
        }
}


@keyframes close-link{
    0%{
            opacity: 1;  
            font-size: 2rem;         
        }

    100%{
            opacity: 0;  
            font-size: 0;
    }
}

@media screen and (max-width: 700px){

    .link.open{

        margin: 5rem 0rem 0 0;
           
    }
    
    .box-nav, .box-nav.close{

        right: 1rem;
    }

    @keyframes open-line {
    
        0%{ 
            background-color: #fff;
            margin: 2rem 2rem 0 0;
            min-width: 4rem;
             
          }
          
        
    
        100%{ 
    
            background-color: transparent;
            margin: 5rem 0rem 0 0;
            min-width: 4rem;
            
                   
            }
    }
    

} 

