<div class="wrapper">
    <div class="scen">
        <div [className]="card">
            <div class="card-front">
                <div [className]="contentFront">
                    <h2 class="front-title">Restaurang</h2>
                    <h2 class="front-title">MENY</h2>
                    <p class="front-subtitle">Snacks gott till filmen!</p>
                </div>
                <div class="seats">

                    <h3>{{ subHeading }}</h3>

                    <div [ngClass]="( chair == customer.seat)? 'chair active' : 'chair'"
                        *ngFor="let customer of customers;let i = index" (click)="getCustomer(customer.seat)">
                        <a>

                            <div class="inner-chair">
                                <p>{{ customer.seat }}</p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="btn-box">
                    <button 
                        (click)="setItem('candy')"
                        class="btn">
                        godis
                    </button>
                    <button
                        (click)="setItem('drink')"
                        class="btn">
                        dryck
                    </button>
                    <button
                        (click)="setItem('food')"
                        class="btn">
                        mat
                    </button>
                </div>
                <button [className]= "btnCheck">
                    Gå till kassan
                </button>


            </div>
            <div (click)="flip()" [className]="back">
                <table>
                    <thead>
                        <tr>
                            <th>Vara</th>
                            <th>Pris</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sortItem()">
                            <th>{{ item.name }}</th>
                            <td>{{ item.price }} kr</td>
                            <td class="shopping"><span class="add">+</span><span class="remove">-</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div (click)="flip()" class="card-b">
                <h2 (click)="flip()">2 Caspar</h2>
            </div>

        </div>
    </div>
</div>
<!--
<div class="wrapper">
    <div (click)="flip()" class="card">
        <div [className]="card">

            <div class="card__front">
                <h3 class="card__title">
                   <span>r</span>
                   <span>e</span>
                   <span>s</span>
                   <span>t</span>
                   <span>a</span>
                   <span>u</span>
                   <span>r</span>
                   <span>a</span>
                   <span>n</span>
                   <span>g</span>

                   <div>meny</div> 
                     
                
                </h3>
                <p class="card__subtitle">Beställ till stol:</p>
            </div>

            <div class="card__back">
                <p class="card__body">This would be some longer text that gives a description of the things from the
                    other side I guess</p>
            </div>

        </div>
    </div>
</div>
-->



<!--
                    <h3>{{ titleSubHeading  }}</h3>
                    <div class="seats">

                        <div [ngClass]="( chair == customer.seat)? 'chair active' : 'chair'"
                        *ngFor="let customer of customers;let i = index"
                        (click)="getCustomer(customer.seat )" >
                            <a>
        
                                    <div class="inner-chair">
                                        <p>{{ customer.seat }}</p>
                                    </div>
                            </a>
        
        
                        </div>
                </div>
                -->