<div class="wrapper">
    <div (click)="flip()" class="scene scene--card">
        <div [className]="card">
            <div class="card-face card-front">
               <ul>
                   <li>R</li>
                   <li>E</li>
                   <li>S</li>
                   <li>T</li>
                   <li>A</li>
                   <li>U</li>
                   <li>R</li>
                   <li>A</li>
                   <li>NG</li>
               </ul> 
               <ul>
                    <li>M</li>
                    <li>E</li>
                    <li>N</li>
                    <li>Y</li>
               </ul> 
                
                
            
            
            
            </div>
            <div class="card-face card-back ">back</div>
        </div>
    </div>
</div>