
.wrapper{
    
    display: flex;
    /*
    align-items: center;
    */
    justify-content: center;
    
    background-color: #970;
    
    min-height: 100vh;
    
} 

  
  .card {
    margin: 2rem 0 0 0;
    width: 90%;
  }
  
  .card__content {
    text-align: center;
    position: relative;
    transition: transform 3s;
    
    transform-style: preserve-3d;
  }
  
  .card__content.is-flipped {
    transform: rotateY(0.5turn);
  }
  
  .card__front,
  .card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15rem 3rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .card__front {

    background-color: #333;
    color: #b7c9e5;
  }
  
  .card__front::before,
  .card__back::before {
    content: "";
    position: absolute;
    
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    border: 3px solid currentColor;
    transform: translateZ(3rem);
  }
  
  .card__title {
    font-size: 3.5rem;
    transform: translateZ(9rem);
    order: 2;
    text-transform: uppercase;
  }
  
  .card__subtitle {
    transform: translateZ(6rem);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: 700;
  }
  
  .card__body {
    transform: translateZ(6rem);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .card__back {
    transform: rotateY(0.5turn);
    color: #b7c9e5;
    background: #333;
    
  }
  

  @media screen and (max-width:500px){
    .card{
        width:90%;
    }

    .card__title {

        font-size: 2.5rem;

    }
  }
  